/* Main menu */
#menu {
  width: 90%;
  margin: 0;
  padding: 10px 0 0 0;
  list-style: none;
  -moz-border-radius: 50px;
  border-radius: 50px;
  box-shadow: 0 2px 1px #9c9c9c;
  background: #2c539e; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #094E76 0%, #063E5F 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#094E76), color-stop(100%,#063E5F)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #094E76 0%,#063E5F 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #094E76 0%,#063E5F 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #094E76 0%,#063E5F 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #094E76 0%,#063E5F 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#094E76', endColorstr='#063E5F',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  li {
    float: left;
    padding: 0 0 10px 0;
    position: relative;
    line-height: 0;
    a {
      &:hover {
        color: #fafafa;
      }
    }
    &:hover {
      ul {
        display: block;
      }
    }
  }
  a {
    float: left;
    height: 25px;
    padding: 0 25px;
    color: #999;
    text-transform: uppercase;
    font: bold 12px/25px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;
    background: #444;
    background: -moz-linear-gradient(#444, #111);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#444, #111);
    background: -o-linear-gradient(#444, #111);
    background: -ms-linear-gradient(#444, #111);
    background: linear-gradient(#094E76, #063E5F);
    -moz-box-shadow: 0 0 2px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 2px rgba(255,255,255,.5);
    box-shadow: 0 0 2px rgba(255,255,255,.5);
    -moz-border-radius: 5px;
    border-radius: 5px;
    ul {
      top: 0;
      left: 150px;
      li {
        &:first-child {
          a{
            &:after {
              left: -8px;
              top: 12px;
              width: 0;
              height: 0;
              border-left: 0;
              border-bottom: 5px solid transparent;
              border-top: 5px solid transparent;
              border-right: 8px solid #444;
            }
            &:hover {
              &:after {
                border-right-color: #04acec;
                border-bottom-color: transparent;
              }
            }
          }
        }
      }
    }
    li {
      float: none;
      margin: 0;
      padding: 0;
      display: block;
      -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
      -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
      box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
      &:last-child {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        a {
          -moz-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px;
        }
      }
      &:first-child {
        a{
          -moz-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;
          &:after {
            content: '';
            position: absolute;
            left: 30px;
            top: -8px;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 8px solid #444;
          }
          &:hover {
            &:after {
              border-bottom-color: #04acec;
            }
          }
        }
      }
    }
    a {
      padding: 10px;
      height: 10px;
      width: 130px;
      line-height: 1;
      display: block;
      white-space: nowrap;
      float: none;
      text-transform: none;
      &:hover {
        background: #0186ba;
        background: -moz-linear-gradient(#04acec,  #0186ba);
        background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
        background: -webkit-linear-gradient(#04acec,  #0186ba);
        background: -o-linear-gradient(#04acec,  #0186ba);
        background: -ms-linear-gradient(#04acec,  #0186ba);
        background: linear-gradient(#04acec,  #0186ba);
      }
    }
  }
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

#templatemo_main {
  min-height: 600px;
}

.mr-top-5{margin-top: 5px};
.mr-top-10{margin-top: 10px};
.mr-top-15{margin-top: 15px};
.mr-top-20{margin-top: 20px};
.mr-top-25{margin-top: 25px};
.mr-top-50{margin-top: 50px};